body {
    font-family: 'Roboto', sans-serif;
}

.landing-container {
    height: 100vh;
    background: url(/assets/photos/Cormac.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 4px;
    font-family: 'Quattrocento', sans-serif;
}

.about-me-container {
    height: 90vh;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}

.quotes-container {
    height: 90vh;
    background: url(/assets/photos/acis-grayscale.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center
}


.music-container {
    height: 90vh;
}

.gallery-container {
    height: 90vh;
    background: url(/assets/photos/budd-dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


.contact-container {
    height: 90vh;
}



.headshot {
    height: 300px;
    float: right;
    padding-left: 110px;
}



h3 {
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-size: 60px;
    font-style: bold;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 1.4;
}

@media (max-width: 450px) {
    .about-me-container {
        font-size: inherit;
    }
}


.blockquote {
    margin-top: 11rem;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

.quotes-container h4 {
    font-family: initial;
    letter-spacing: 4px
}


.jumbotron {
    background-color: transparent;
    padding-bottom: 190px;
}

.jumbotron h1 {
    font-size: 55px;
}

/* --------- Nav Bar ---*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(11, 4, 22, 1);

}

.navbar li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}




.about-me-container p {
    margin-bottom: 5px;
}




/* -------Lightbox Gallery ------*/

.w-100 {
    padding: 10px;
}





iframe {
    padding: 10px;
}