html {
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*------------Landing image-------------*/

.landing-container {
    height: 100vh;
    background: url(../photos/Cormac.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    letter-spacing: 4px;
    font-family: 'Quattrocento', sans-serif;
}

.jumbotron {
    background-color: transparent;
    padding-bottom: 190px;
}

.jumbotron h1 {
    font-size: 55px;
}

/*----------About me Section ------------*/

.about-me-container {

    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}

.about-me-container p {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.headshot {
    height: 300px;
    float: right;
    padding-left: 110px;
}

#bio {
    border-top: 65px solid transparent;
    margin-top: -65px;
}

/*--------------Quotes Section--------------*/

.quotes-container {
    height: 80vh;
    background: url(../photos/acis-grayscale.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    color: #fafafa;
    text-align: center
}



.blockquote {
    margin-top: 11rem;
    z-index: 1;
}

/*---------------Media Section --------------*/

#recordings {
    border-top: 65px solid transparent;
    margin-top: -65px;
}

iframe {
    padding: 10px;
}

/*----------Gallery Section-------------*/

.gallery-container {
    height: 90vh;
    background: url(../photos/budd-dark.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    color: #fafafa;
    overflow: auto;
}

.gallery-container {
    padding-bottom: 55px
}

.w-100 {
    padding: 10px;
}

#photos {
    border-top: 65px solid transparent;
    margin-top: -65px;
}

.modal-dialog {
    max-width: 90%;
    margin: auto;
}

/*------------Contact Section--------------*/

#email-me {
    border-top: 95px solid transparent;
    margin-top: -95px;
}

.contact-container {
    height: 90vh;
}

.form-control {
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-form {
    margin: 0 auto;
    max-width: 70%;
}

.btn {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(11, 4, 22);
}

/* --------- Nav Bar ---*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(11, 4, 22, 0.75);
    cursor: pointer;

}

.navbar li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}

/*--------------General Text formatting-------------*/


h3 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 1.4;
}

/*-------------Footer------------*/

footer {
    border-color: transparent;
    text-align: center;
    background-color: rgb(11, 4, 22);
    padding: 15px;
}


a {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #fafafa;
    color: #1a0666;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}

i:hover {
    color: #14363d;
}


/*----Media Queries ---*/

@media (max-width: 450px) {
    .about-me-container {
        font-size: inherit;
    }
}

@media (min-width: 576px) {

    .modal-dialog {
        max-width: 80%;
    }
}

@media (min-width: 1000px) {
    .modal-dialog {
        max-width: 900px;
    }
}

@media (max-width: 575px) {

    #bio,
    #recordings,
    #photos {
        border-top: 55px solid transparent;
        margin-top: -55px;

    }
}

@media (max-width: 575px) {
    #email-me {
        border-top: 85px solid transparent;
        margin-top: -85px;
    }
}