html {
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*------------Landing image-------------*/

.landing-container {
    height: 100vh;
    background: url(../photos/Cormac.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 4px;
    font-family: 'Quattrocento', sans-serif;
}

.jumbotron {
    background-color: transparent;
    padding-bottom: 190px;
}

.jumbotron h1 {
    font-size: 55px;
}



/*----------About me Section ------------*/

.about-me-container {

    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}

.about-me-container p {
    margin-bottom: 5px;
}

.headshot {
    height: 300px;
    float: right;
    padding-left: 110px;
}






/*--------------Quotes Section--------------*/

.quotes-container {
    height: 80vh;
    background: url(../photos/acis-grayscale.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    text-align: center
}



.blockquote {
    margin-top: 11rem;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}





/*---------------Media Section --------------*/

.music-container {}

iframe {
    padding: 10px;
}


/*----------Gallery Section-------------*/

.gallery-container {
    height: 80vh;
    background: url(../photos/budd-dark.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    color: white;
}

/* -------Lightbox Gallery ------*/

.w-100 {
    padding: 10px;
}



/*------------Contact Section--------------*/

.contact-container {}

.form-control {
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*------------ Contact form-------*/

.center-form {
    margin: 0 auto;
    max-width: 70%;
}

.btn {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(11, 4, 22);
}




/* --------- Nav Bar ---*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(11, 4, 22, 0.75);
    cursor: pointer;

}

.navbar li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}




/*--------------General Text formatting-------------*/


h3 {
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 1.4;
}



/*-------------Footer------------*/

footer {
    border-color: transparent;
    text-align: center;
    background-color: rgb(11, 4, 22);
    padding: 15px;
}


a {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #fafafa;
    color: #1a0666;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}

i:hover {
    color: #14363d;
}


@media (max-width: 450px) {
    .about-me-container {
        font-size: inherit;
    }
}